@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {

  /* Fonts */
  --font-display: "Poppins", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --input-fonts: "Poppins", sans-serif;

  /* Color themes */
  --page-bg: #1E2430;
  --form-bg: #2A3142;
  --form-border: #294998;
  --input-foreground: #333B4F;
  --input-border: #00D0FF;
  --texts-foreground: #F4F6F8;
  --texts-hover: #ff7300;
  --button-bg: #006AE4;
  --button-hover: #2683ed;
}