<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', path='stylesheets/output.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>{{ title }}</title>
</head>
<body class="w-screen h-screen font-display text-[20px] p-0 m-0 box-border">
  <div class="w-full h-full flex flex-col justify-center items-start pl-[8em] bg-(--page-bg)">
    <h1 class="font-heading text-[3.5em] mb-[.5em] text-(--texts-foreground)">Chat App</h1>
    <div class="buttons flex gap-[3em] text-(--texts-foreground)">
      <a href="#" class="bg-(--button-bg) px-[3em] py-[.3em] rounded-[1em] hover:bg-(--button-hover)">Sign in</a>
      <a href="#" class="py-[.3em] hover:text-(--texts-hover)">Register</a>
    </div>
  </div>
</body>
</html>